venv/
.env/
env/
.venv/

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.DS_Store

.pytest_cache/
.tox/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.cache/

build/
dist/
*.egg-info/
*.egg

MANIFEST

